<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="has-background-grey-lighter">
    <h1 class="has-text-centered title is-1">Hello, Chat!</h1>

    <div class="chat columns">
        <div class="mensagens column card ml-5">
            <!-- MENSAGENS -->
            <p>
                <span class="has-text-weight-bold mr-3">usuário:</span><span>mensagem 123...</span>
            </p>
            <p>
                <span class="has-text-weight-bold mr-3">usuário:</span><span>mensagem 123...</span>
            </p>
            <p>
                <span class="has-text-weight-bold mr-3">usuário:</span><span>mensagem 123...</span>
            </p>
            <p>
                <span class="has-text-weight-bold mr-3">usuário:</span><span>mensagem 123...</span>
            </p>
        </div>
        <div class="usuarios column is-1 card mx-5">
            <h2 class="has-text-centered title is-5">Usuários</h2>
            <ul class="usuarios-lista">
                <li class="has-text-weight-bold mb-3">Usuário 1</li>
                <li class="has-text-weight-bold mb-3">Usuário 2</li>
                <li class="has-text-weight-bold mb-3">Usuário 3</li>
            </ul>
        </div>
    </div>

    <div class="field has-addons mx-5 mt-5">
        <div class="control is-expanded ">
            <input class="input is-large" type="text" placeholder="Mensagem...">
        </div>
        <div class="control">
            <a class="button is-info is-large">
                Enviar
            </a>
        </div>
    </div>

    <script type="module" src="/js/script.js"></script>
</body>

</html>