<%- include('partials/header'); -%>
<h1 class="has-text-centered title is-1">Hello, Chat!</h1>

<div class="buttons are-large is-flex is-justify-content-center">
    <a class="button is-primary is-outlined" href="/sala-csharp">C#</a>
    <a class="button is-primary is-outlined" href="/sala-js">JS</a>
</div>


<%- include('partials/footer'); -%>