body{
    height: 100vh;
    position: relative;
}

.chat{
    height: 80%;
}

.btn-salvar-usuario{
    display: block;
    margin: 0 auto;
}

.mensagens, .usuarios{
    overflow-y: auto;
}

.d-none{
    display: none;
}